.vs/
TestResults/*
**/bin/
**/obj/
**/Debug/
**/Release/
**/TestRelease/
**.user
*.sdf
*.VC.db
*.opensdf
*.suo
*.opendb
**/*.pdb
*~
build.log
build64.log
**/design/*.pdf
**/design/*.html
**/design/img/
**/design/graphviz-images/
/packages
*.vspx
*.psess