$primary: #015495;
$hover: #2a78b6;
$pressed: #123c57;
$disabled: #dddddd;
$red: #f22a2a;
$black: #333333;
$secondary: #666666;
$tertiary: #999999;
$disable: #dddddd;
$line: #f6f6f6;
$light: #fcfcfc;
$white: #ffffff;

$sm: '480px';
$md: '767px';
$lg: '1023px';
$xl: '1279px';
