.el-input__inner {
  color: $primary;
}

.hover-input {
  .el-input {
    --el-input-height: 56px;
  }
  .el-input__wrapper {
    padding: 0 16px;
  }
  .el-input__inner {
    padding-top: 18px;
    color: $black;
  }
}
